body {
    font-family: 'Lato', sans-serif;
    color: #2d3c49;
    font-weight: 300;
}
.banner-img {
    padding: 15px;
}
.text-muted {
    color: #7d97ad;
}
.text-thin {
    font-weight: 100;
}
.title-super {
    font-size: 2.5em;
}
.title-logo {
    margin-top: 20px;
}
/*Ipad Media Query*/

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
    .container {
        background-color: lightskyblue;
    }
}